{% extends "base.html" %}

{% block title %}
    <title>
        dj knox - {{ post.title }}
    </title>
{% endblock %}

{% block content %}
    <div>
        {{ post.title }}
        <br>
        {{ post.published_date.date }}
        <br>
        {{ post.text }}
    </div>

    <div>
        <h4>tags:</h4>
        <div>
            {% for tag in post.tags.all %}
                <div>
                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}